.super-mega-border987 {
    border: dotted 1px red;
}

.super-contrast-416 {
    /*filter: grayscale(.5);*/
    /*-webkit-filter: blur(1px);*/
    /*position: absolute;
    background: white;*/
    /*box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border: dotted 2px red;
    /*-webkit-filter: hue-rotate(180deg) saturate(4.2);*/
    -webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 1);
    -moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 1);
    box-shadow:         0px 0px 10px rgba(50, 50, 50, 1);
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
    -o-transform:scale(1.05);
    -ms-transform:scale(1.05);
    transform:scale(1.05);
    background: #ddd;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}