{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body style="text-align: center;">
        <form action="/wget/" method="post" style="margin-top: 300px;">
            {% csrf_token %}
            <input name='q'>
            <button type='submit'>RSS it!</button>
        </form>
    </body>
</html>